:root {
  --text-primary: #000;

  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color:var(--text-primary);
}

#app {
  display: grid;
  grid-gap: 20px;
  max-width: 555px;
  margin: 0 auto;
}
