html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --text-primary: #000;

  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color:var(--text-primary);
}

*, *:before, *:after {
  box-sizing: border-box;
}

#app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 20px;
  max-width: 555px;
  margin: 0 auto;
}

.profile {
  grid-area: 1 / 1 / 2 / 2;
}

.profile > img {
  inset: 0;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.name {
  grid-area: 1 / 2 / 2 / 3;
}

.edu {
  grid-area: 3 / 1 / 5 / 3;
}

.extra {
  grid-area: 3 / 3 / 4 / 5;
}

.contact {
  grid-area: 4 / 3 / 5 / 5;
}

h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

h3 {
  font-weight: 500;
  font-size: 10px;
  line-height: 104%;
}

h4 {
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
}

.island {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  gap: 12px;
}

.bg-primary {
  background-color: #FFF;
}

.bg-second {
  background-color: #F0F0F0;
}

.bg-green {
  background-color: #28D979;
}

.bg-black {
  background-color: #000;
  color: #FFF
}


.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.sbt-1 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sbt-2 {
  font-size: 8px;
  line-height: 12px;
  font-weight: 400;
}
