.langs {
    grid-area: 1 / 3 / 2 / 5;
}

.langs__list {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 17px;
}

.langs__col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.langs__col__lang {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.langs__level {
    border-radius: 3px;
    height: 11px;
}
